= link_to "Swipe", swipe_path, class: "btn btn-primary"
<button class="btn btn-primary">Settings</button>
<button class="btn btn-primary">Profile</button>
<i class="fa fa-heart" style="color: #FFACE4;">